{% extends '::base.html.twig' %}       
 {% block title %} Administration Panel{% endblock %}
     {% block stylesheets %}
         
<link href="{{ asset('bundles/mycomplatform/css/admin.css') }}" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="css/admin-ie.css" /><![endif]-->


</head>

     {% endblock %}
 {% block body %}
	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		<!--[if !IE]>start head<![endif]-->
		<div id="head">
			
			<!--[if !IE]>start logo and user details<![endif]-->
			<div id="logo_user_details">
				<h1 id="logo"><a href="#">websitename Administration Panel</a></h1>
				<!--[if !IE]>start user details<![endif]-->
                                <div id="user_details">
				  {% include 'MyComPlatformBundle:Default:userdetails.html.twig' %}
                                    </div>
				
				<!--[if !IE]>end user details<![endif]-->
				
				
				
			</div>
			
			<!--[if !IE]>end logo end user details<![endif]-->
			
			
			
			<!--[if !IE]>start menus_wrapper<![endif]-->
			<div id="menus_wrapper">
				
				
				
				
				
				<div id="main_menu">
					<ul>
						<li><a href="#" class="selected"><span><span>Main Controls</span></span></a></li>
						<li><a href="#"><span><span>Server Settings</span></span></a></li>
						<li><a href="#"><span><span>Product Management</span></span></a></li>
						<li><a href="#"><span><span>User Accounts</span></span></a></li>
						<li><a href="#"><span><span>SEO</span></span></a></li>
						<li class="last"><a href="#"><span><span>Static Pages</span></span></a></li>
					</ul>
				</div>
				
				
				
				<div id="sec_menu">
					<ul>
						<li><a href="#" class="sm1">Security Settings</a></li>
						<li><a href="#" class="sm2">Chat and PMs</a></li>
						<li><a href="#" class="sm3">Search Options</a></li>
						<li><a href="#" class="sm4">Moderators</a></li>
						<li><a href="#" class="sm5">Upload Options</a></li>
						<li><a href="#" class="sm6">Download Options</a></li>
						<li><a href="#" class="sm7">Emails</a></li>
						<li>
							<span class="drop"><span><span><a href="#" class="sm8">More</a></span></span></span>
							<ul>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm4" href="#">Menu item</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--[if !IE]>end menus_wrapper<![endif]-->
			
			
			
		</div>
		<!--[if !IE]>end head<![endif]-->
		
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
			
			
			
			
			
			<!--[if !IE]>start page<![endif]-->
			<div id="page">
                            <div class="inner">
				{% block content %}
                                {% endblock %}
                            </div>        
			</div>
			<!--[if !IE]>end page<![endif]-->
			<!--[if !IE]>start sidebar<![endif]-->
			<div id="sidebar">
				<div class="inner">
				
				
					<!--[if !IE]>start calendar<![endif]-->
					<div class="calendar">
						<div class="calendar_top">
							<strong>18:36</strong>
							<span>Thursday, 23rd December 2008</span>
						</div>
						<div class="calendar_middle">
							<div class="calendar_data">
							
							
							
							<!--[if !IE]>start calendar data<![endif]-->
							
										<div class="cmonth">
										<div class="ctrl">
											<table cellspacing="0" cellpadding="0">
												<tr>
													<td align="left" style="width: 15px;"><a class="calendar_prev" href="#">&laquo; </a></td>
													<td align="center"><span><strong>December 2008</strong></span></td>
													<td align="right" style="width: 15px;"><a class="calendar_next" href="#">&raquo;</a></td>
												</tr>
						
											</table>
										</div>
			
										
										</div>

										
							
										<div class="cont">
											<ul class="chead">
												<li><span>sun</span></li>
							
												<li><span>mon</span></li>
												<li><span>tue</span></li>
												<li><span>wed</span></li>
												<li><span>thu</span></li>
												<li><span>fri</span></li>
												<li><span>sat</span></li>
							
											</ul>
											
											<ul class="cdays">				
												<li><span></span></li>
												<li><a href="#">1</a></li>
							
												<li><a href="#">2</a></li>
							
												<li><a href="#">3</a></li>
							
												<li><a href="#">4</a></li>
							
												<li><a href="#"  class="event">5</a></li>
							
												<li><a href="#"  class="event">6</a></li>
							
												<li><a href="#">7</a></li>
							
												<li><a href="#">8</a></li>
							
												<li><a href="#">9</a></li>
							
												<li><a href="#">10</a></li>
							
												<li><a href="#">11</a></li>
							
												<li><a href="#"  class="event">12</a></li>
							
												<li><a href="#"  class="event">13</a></li>
							
												<li><a href="#">14</a></li>
							
												<li><a href="#">15</a></li>
							
												<li><a href="#">16</a></li>
							
												<li><a href="#">17</a></li>
							
												<li><a href="#">18</a></li>
							
												<li><a href="#">19</a></li>
							
												<li><a href="#"  class="event">20</a></li>
							
												<li><a href="#">21</a></li>
							
												<li><a href="#">22</a></li>
							
												<li><a href="#">23</a></li>
							
												<li><a href="#">24</a></li>
							
												<li><a href="#">25</a></li>
							
												<li><a href="#">26</a></li>
							
												<li><a href="#">27</a></li>
							
												<li><a href="#">28</a></li>
							
												<li><a href="#">29</a></li>
							
												<li><a href="#">30</a></li>
							
												<li><a href="#">31</a></li>
												<li><span></span></li>
												<li><span></span></li>
												<li><span></span></li>
											</ul>
											
										</div>

							
							
							
							<!--[if !IE]>end calendar data<![endif]-->
							
							
							
							
							
							</div>
						</div>
						<div class="calendar_bottom"></div>
						<!--[if !IE]>start section content footer<![endif]-->
						<div class="section_content_footer">
							<ul>
								<li><a href="#" class="plus">Add new event</a></li>
								<li><a href="#" class="next">Next Event</a></li>
							</ul>
							<span class="scf"></span>
						</div>
						<!--[if !IE]>end section content footer<![endif]-->
					</div>
					<!--[if !IE]>end calendar<![endif]-->
					
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Sidebar Menu</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												<ul class="sidebar_menu">
													<li><a href="#">View pending orders list</a></li>
													<li><a href="#">Shipping and handling fees</a></li>
													<li><a href="#">Setup registration</a></li>
													<li><a href="#">Manage filters</a></li>
													<li><a href="#">Dashboard links</a></li>
													<li><a href="#">Product Categories</a></li>
													<li class="last"><a href="#">SEO Settings</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>To do list</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
													
													<div class="todo_list">
														<dl>
															<dt><span class="order">1</span> View pending orders list</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit pellentesque odio laoreet lacinia. 
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Get started</a></li>
																	<li><a href="#">Check notes</a></li>
																</ul>
															</dd>
														</dl>
													
														<dl>
															<dt><span class="order">2</span> Verify New Uploads</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit 
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Get started</a></li>
																	<li><a href="#">Approve all</a></li>
																</ul>
															</dd>
														</dl>
													
														<dl class="last">
															<dt><span class="order">3</span>Manage Banners</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit pellentesque odio laoreet lacinia.
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Go</a></li>
																	<li><a href="#">Config. 1</a></li>
																	<li><a href="#">Config. 2</a></li>
																</ul>
															</dd>
														</dl>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Photo Gallery</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												<div class="photo_gallery">
													
													
														<div class="gal_top">
															<div class="gal_bottom">
																<div class="gal_left">
																	<div class="gal_right">
																		<ul>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													
													
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
							<!--[if !IE]>start section content footer<![endif]-->
							<div class="section_content_footer">
								<ul>
									<li><a href="#" class="plus">Add new photo</a></li>
									<li><a href="#" class="list">View all photos</a></li>
								</ul>
								<span class="scf"></span>
							</div>
							<!--[if !IE]>end section content footer<![endif]-->
							
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					<!--[if !IE]>start quick info<![endif]-->
					<div class="quick_info">
						<div class="quick_info_top">
							<h2>Quick info</h2>
						</div>
						<div class="quick_info_content">
							<dl>
								<dt>12 products</dt>
								<dd>avaiting approval</dd>
							</dl>
							<dl>
								<dt>228 sales</dt>
								<dd>in the last 24 hours</dd>
							</dl>
							<dl>
								<dt>18 users</dt>
								<dd>currently online</dd>
							</dl>
							<dl>
								<dt>15.2%</dt>
								<dd>increase in traffic this month</dd>
							</dl>
						</div>
						<span class="quick_info_bottom"></span>
					</div>
					<!--[if !IE]>end quick info<![endif]-->
					
					
				
				
				</div>
			</div>
			<!--[if !IE]>end sidebar<![endif]-->
			
			
			
			
		</div>
		<!--[if !IE]>end content<![endif]-->
		
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		<div id="footer_inner">
		
		<dl class="copy">
			<dt><strong>HyperAdmin</strong> <em>build 26122008</em></dt>
			<dd>&copy; 2008 Yourcompany.com  All rights reserved.</dd>
		</dl>
		
		<dl class="quick_links">
			<dt><strong>Quick Links :</strong></dt>
			<dd>
				<ul>
					<li><a href="#">Dashboard </a></li>
					<li><a href="#">My Account</a></li>
					<li><a href="#">General Settings</a></li>
					<li><a href="#">Static Pages</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Marketing</a></li>
					<li class="last"><a href="#">Log out</a></li>
				</ul>
			</dd>
		</dl>
		
		
		<dl class="help_links">
			<dt><strong>Need Help ?</strong></dt>
			<dd>
				<ul>
					<li><a href="#">Live Help</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="last"><a href="#">Knowledgebase</a></li>
				</ul>
			</dd>
		</dl>
	
		</div>
	</div>
	<!--[if !IE]>end footer<![endif]-->
	
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('bundles/mycomplatform/js/behaviour.js') }}" type="text/javascript"></script>
{% endblock %}

